/*商品*/
.goodsWrapper {
    width: 158px;
    height: 208px;
    position: relative;
    display: inline-block;
}

.goodsPicWrapper {
    width: 160px;
    position: relative
}

.goodsPic {
    display: block;
    max-width: 158px;
    height: 158px;
    opacity: 1;
    width: 158px;
    margin-left: 0;
    margin-top: 0;
    position: relative
}

.goodsMsg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    background: rgba(0, 0, 0, .6);
    text-align: center;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    line-height: 24px;
    width: 158px;
}

.goodsInfoWrapper {
    border: 1px solid #999;
    box-sizing: border-box
}

.goodsTitle {
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    color: #999;
    overflow: hidden;
    padding: 0 2px;
}

.goodsPrice {
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    color: #999;
    overflow: hidden;
    padding: 0 2px;
}

.addGoods {
    display: inline-block;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
}

.action span {
    cursor: pointer;
    padding: 0 10px;
}

.picDescription {
    resize: none;
}