*{margin:0;padding:0}
body{color:#555;font-size:12px;}
li,ul{list-style:none}
em,i{font-style:normal}
a{color:#2366A8;text-decoration:none}
a:hover{text-decoration:none}
.choose{float:left;width:96%;padding:3px 2%}
.choose span.l{display:inline-block;width:63%}
.sch{padding-left:5px}
.areaCon{float:left;width:630px;padding:10px 0;background:#fff;border:1px solid #ccc;border-radius:4px}
.areaCon label{margin:0 2px}
.subCity{position:absolute;left:90px;top:-1px;display:none;width:162px;padding:3px 6px;background:#fff;border:1px solid #06c;z-index:10000;box-sizing:content-box}
.subCity:before{content:'';position:absolute;left:-1px;top:0;width:1px;height:25px;overflow:hidden;background:#fff}
.areaAct .subCity{display:block}
.subCity ul{width:100%}
.subCity ul li{float:left;width:80px;margin:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#444;padding:0;font-size:12px}
.areaL{height:215px;margin-left:2px;background:#fff}
.areaL table{width:100%;height:100%;margin:0}
.areaL td,.areaR td{padding-left:6px;border-bottom:1px solid #c3cce8}
.areaL td input{margin-right:3px;vertical-align:middle}
.areaM{margin:100px 10px 0 10px;border-left:20px solid #ccc;border-top:20px solid #FFF;border-bottom:20px solid #FFF;width:0;height:0}
.areaR{width:36%;height:230px;overflow-y:scroll;border:1px solid #c3cce8}
.areaR dl,.codeR table{margin:0}
.areaR dd,.areaR dt{height:24px;line-height:24px;padding:0 1em;border-bottom:1px solid #c3cce8}
.areaL div.areaP{position:relative;padding:1px 10px 1px 8px;width:105px;height:25px;overflow:hidden;margin-right:2px;line-height:25px;float:left;box-sizing:content-box}
.areaL div.areaAct{padding:0 9px 0 7px;overflow:initial;border:1px solid #06c}
.areaL .mainAreaNum{position:absolute;right:0;top:3px;padding:0 4px;background:#67CFFF;border:1px solid #16B3FC;border-radius:4px;font:12px/16px Arial;color:#fff}
label.labelin{cursor:pointer;width:60px;overflow:hidden;white-space:nowrap;box-sizing:content-box}
.labelin input,.mainArea{margin-right:2px}
.unAll{float:right;font:12px/18px Arial}
.areaP label{float:left;position:relative;z-index:1;padding-left:16px;font-weight: normal;}
.areaP label input{position:absolute;left:0;margin:5px 0 0 0}
.areaP .areaNum{display:none;position:absolute;right:0;top:50%;width:33px;overflow:hidden;margin-top:-10px;font:12px/18px Arial;text-align:center;color:#fff;background:#79D9FF;border-radius:4px}
.areaL div.areaAct .areaNum{display:none!important}
