{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    // 为了antd模块的分块加载 来自antd官方文档
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}