html, body, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: "PingFang SC-Light", "PingFang SC", "FZLanTingHei-EL-GBK", "FZLanTingHei-R-GB", "Helvetica-Light",
    "Helvetica regular", "STXihei-Light", "STHeiti", "Hiragino Sans GB", "Noto Sans Han", "Roboto", "Droid Sans Fallback",
    "WenQuanyi Micro Hei", "oto ckj sc", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Heiti SC", sans-serif;
    word-wrap: break-word;
}

body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}

body {
    background-color: #F8F5FC;
}

header {
    padding: 25px 20px 0;
    background-color: #ffffff;
}

header h1 {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: .3px;
}

header .author {
    font-size: 13px;
    color: #a4aab3;
    letter-spacing: .16px;
    margin-top: 10px;
}

.content {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 15px;
    box-sizing: border-box;
}

.content p.articleCharacter {
    padding: 0 5px;
    font-size: 17px;
    color: #21292e;
    letter-spacing: .5px;
    line-height: 32px;
    margin: 15px 0;
}

.content img.articlePicture {
    width: 100%;
    margin: 15px 0;
    border-radius: 6px;
}

/*商品样式 开始*/
.content div.articleCommodity {
    width: 100%;
    height: 100px;
    position: relative;
}

.content img.articleCommodityPicture {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.content .articleCommodity .articleCommodityWrapper {
    margin-left: 115px;
    height: 100px;
    position: relative;
}

.content .articleCommodity .articleCommodityWrapper .articleCommodityTitle {
    font-size: 15px;
    color: #21292e;
    letter-spacing: 1px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}

.content .articleCommodity .articleCommodityWrapper .articleCommodityPrice {
    color: #ff4005;
    position: absolute;
    height: 30px;
    left: 0;
    bottom: -2px;
}

.content .articleCommodity .articleCommodityWrapper .articleCommodityPrice .symbol {
    font-size: 18px;
    letter-spacing: .8px;
    margin-right: 5px;
}

.content .articleCommodity .articleCommodityWrapper .articleCommodityPrice .price {
    font-size: 25px;
    letter-spacing: 1.33px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
}

.content .articleCommodity .articleCommodityWrapper .buyBtn {
    position: absolute;
    width: 60px;
    height: 27px;
    right: 0;
    bottom: 3px;
}

/*商品样式 结束*/

footer {
    background-color: #ffffff;
    font-size: 17px;
    color: #a4aab3;
    letter-spacing: .5px;
    line-height: 32px;
    padding: 0 20px 30px;
}

/*推荐列表 开始*/
.recommendList {
    background-color: #ffffff;
    margin: 36px 0 30px;
    width: 100%;
    position: relative;
}

.recommendList .recommend {
    position: absolute;
    width: 141px;
    left: 0;
    top: -25px;
    z-index: 2;
}

.recommendList ul li {
    list-style: none;
    border-bottom: .4px solid #ebebeb;
    padding: 15px 20px;
    position: relative;
}

.decorate {
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 0;
}

.recommendList ul li .listPic {
    border-radius: 3px;
}

/*单图样式 开始*/
.recommendList .styleOne {
    padding-left: 16px;
    padding-right: 24px;
}

.recommendList .styleOne .styleOneWrapper {
    position: relative;
}

.recommendList .styleOne .listPic {
    width: 33%;
}

.recommendList .styleOne .contentWrapper {
    position: relative;
    width: 67%;
    float: right;
}

.recommendList .styleOne .contentWrapper .contentTitle {
    font-size: 15px;
    height: 40px;
    overflow: hidden;
    color: #21292e;
    letter-spacing: 1px;
    line-height: 20px;
    padding-left: 15px;
}

.recommendList .styleOne .contentSource {
    position: absolute;
    left: 33%;
    bottom: 3px;
    padding-left: 15px;
    font-size: 12px;
    color: #a4aab3;
    letter-spacing: .62px;
}

/*单图样式 结束*/
/*三图样式 开始*/
.recommendList .styleTwo .contentTitle {
    font-size: 15px;
    max-height: 50px;
    overflow: hidden;
    color: #21292e;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 12px;
}

.recommendList .styleTwo .listPic {
    width: 33%;
    float: left;
}

.recommendList .styleTwo .listPic:nth-child(2) {
    transform: translateX(-3px);
}

.recommendList .styleTwo .listPic:nth-child(3) {
    margin: 0 0.33%;
}

.recommendList .styleTwo .listPic:nth-child(4) {
    transform: translateX(3px);
}

.recommendList .styleTwo .contentSource {
    clear: both;
    padding-top: 10px;
    font-size: 12px;
    color: #a4aab3;
    letter-spacing: .62px;
}

/*三图样式 结束*/

/*大图样式 开始*/
.recommendList .styleThree {
    padding-left: 16px;
    padding-right: 24px;
}

.recommendList .styleThree .styleOneWrapper {
    position: relative;
}

.recommendList .styleThree .listPic {
    width: 33%;
}

.recommendList .styleThree .contentWrapper {
    position: relative;
    width: 67%;
    float: right;
}

.recommendList .styleThree .contentWrapper .contentTitle {
    font-size: 15px;
    height: 36px;
    overflow: hidden;
    color: #21292e;
    letter-spacing: 1px;
    line-height: 18px;
    padding-left: 15px;
}

.recommendList .styleThree .contentSource {
    position: absolute;
    left: 33%;
    bottom: 3px;
    padding-left: 15px;
    font-size: 12px;
    color: #a4aab3;
    letter-spacing: .62px;
}

/*大图样式 结束*/



/*推荐列表 结束*/
/*推荐列表装饰条色号*/
.color_1 {
    background-color: #FE74AE;
}

.color_2 {
    background-color: #D974FE;
}

.color_3 {
    background-color: #FE9B74;
}

.color_4 {
    background-color: #74BBFE;
}

.color_5 {
    background-color: #74FEF7;
}

.color_6 {
    background-color: #FEDF74;
}
