.ranges li.active {
    background-color: #00d5cd;
    border: 1px solid #00d5cd;
    color: #fff;
}
.ranges li:hover {
    background-color: #00d5cd;
    border: 1px solid #00d5cd;
    color: #fff;
}
.ranges li {
    font-size: 13px;
    line-height: 23px;
    color: #00d5cd;
}
.daterangepicker .input-mini.active {
    border: 1px solid #00d5cd;
    border-radius: 4px;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #00d5cd;
    border-color: transparent;
    color: #fff;
}
